@model OrderViewModel

@{
    ViewData["Title"] = "الفواتير";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <label>الخدمة:</label>
        <select id="serviceDropdown" class="form-control">
            <option value="">اختر الخدمة</option>
            @foreach (var service in Model.Services)
            {
                <option value="@service.Id" data-price="@service.Price">@service.TitleAr</option>
            }
        </select>
    </div>

    <div class="col-md-2">
        <label>السعر:</label>
        <input type="text" id="servicePrice" class="form-control" disabled>
    </div>

    <div class="col-md-2">
        <label>الكمية:</label>
        <input type="number" id="serviceQty" class="form-control" min="1" value="1">
    </div>

    <div class="col-md-2">
        <label>الإجمالي:</label>
        <input type="text" id="serviceTotal" class="form-control" disabled>
    </div>

    <div class="col-md-2">
        <button id="addServiceBtn" class="btn btn-primary mt-4">إضافة</button>
    </div>
</div>

<!-- Table to show added services -->
<table id="orderTable" class="table table-bordered mt-4">
    <thead>
        <tr>
            <th>الخدمة</th>
            <th>السعر</th>
            <th>الكمية</th>
            <th>الإجمالي</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<button id="saveOrderBtn" class="btn btn-success">حفظ الطلب</button>
<div class="row mt-3">
    <div class="col-md-4 offset-md-8">
        <label><strong>إجمالي الفاتورة:</strong></label>
        <input type="text" id="invoiceTotal" class="form-control" disabled>
    </div>
</div>
<div style="margin-bottom: 4rem; text-align: end;">
    <a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        

    }
    <script src="~/js/orderscreate.js"></script>
    <script>
        tinymce.init({
            selector: "textarea",
            branding: false,
            promotion: false,
            statusbar: false
        });
    </script>
    
}