@model UpdateAdminMv 

@{
    ViewData["Title"] = "تعديل بيانات المسؤول";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">						
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">تعديل بيانات المسؤول </h3>
            </div>
            <div class="card-body mb-0"> 
                <form class="form-horizontal" asp-action="Edit" enctype="multipart/form-data" runat="server">
                    <div asp-validation-summary="All" style="margin-bottom: 2rem; text-align: center;" class="text-danger"></div>
                    
                    <input type="hidden"asp-for="UserId" />
                     
                       
                       
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"   asp-for="FullName"></label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="FullName" class="form-control" id="examplenameInputname3" placeholder="الاسم بالكامل">
                                <span asp-validation-for="FullName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"   asp-for="PhoneNumber"></label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="PhoneNumber" class="form-control" id="examplenameInputname3" placeholder="رقم الهاتف">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label"   asp-for="Email"></label>
                            </div>
                            <div class="col-md-9">
                                <input asp-for="Email" class="form-control" id="examplenameInputname3" placeholder="الأميل">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="row">
                            <div class="col-md-3">
                                <label class="form-label" id="inputEmail3" asp-for="Img"></label>
                            </div>
                            <div class="col-md-9">
                                <input type="file" asp-for="Img" class="dropify" data-height="180" />
                                <span asp-validation-for="Img" class="text-danger"></span>
                            </div>
                             
                        </div>
                    </div>
					
                        	

                    <div class="form-group mb-0 row justify-content-end">
                        <div class="col-md-9 float-end">
                            <input type="submit" value="تعديل حساب المسؤول " class="btn btn-primary waves-effect waves-light">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

		
 <div style="margin-bottom: 4rem;text-align: end;">
    <a asp-action="Index"class="btn btn-secondary">العودة للقائمة</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

