@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "قائمة بالمسؤولين";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var error = (TempData["Error"]!=null)? TempData["Error"] : null ;  
    var success = (TempData["Success"]!=null)? TempData["Success"] : null ;
}
<div class="row">
    <div class="col-md-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title" >كل المسؤولين   </h3>
                @if (error != null)
                {
                    <div style="text-align: center;" class="alert alert-danger" role="alert">
                        @error
                    </div>
                }
                @if (success != null)
                {
                    <div style="text-align: center;" class="alert alert-success" role="alert">
                        @success
                    </div>
                }
            </div>
            <div class="table-responsive" style="padding: 1.5rem; overflow-x: inherit;">
                <table class="table mb-0 table-borderless" id="table_id">
                    <thead>
                    <tr>
                        <th> الاسم بالكامل  </th>
                        <th> رقم الهاتف  </th>
                        <th> البريد الالكتروني  </th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model) {
                        <tr>
                             
                            <td>
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                                   
                            
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/adminindex"></script>
}

