@model DashboardCounts

@{
	Layout = "~/Views/Shared/_MainLayout.cshtml";
	ViewBag.Title = "لوحة تحكم المسؤول";
}
<!--App-Content-->
<!--/Page-Header-->

<div class="row item-all-cat">
	<div class="col-xl-2 col-md-6">
		<div class="item-all-card bg-yellow text-center">
			<a href="javascript:void(0);"></a>
			<div class="iteam-all-icon">
				<i class="fe fe-book-open w-30"></i>
			</div>
			<div class="item-all-text mt-3">
				<p>عدد الاقسام الرئيسية</p>
				<h1 class="mb-0 counter font-weight-bold">@Model.AllSections</h1>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-md-6">
		<div class="item-all-card bg-yellow text-center">
			<a href="javascript:void(0);"></a>
			<div class="iteam-all-icon">
				<i class="fe fe-book-open w-30"></i>
			</div>
			<div class="item-all-text mt-3">
				<p>عدد الخدمات </p>
				<h1 class="mb-0 counter font-weight-bold">@Model.AllServices</h1>
			</div>
		</div>
	</div>
	<div class="col-xl-2 col-md-6">
		<div class="item-all-card bg-purple text-center">
			<a href="javascript:void(0);"></a>
			<div class="iteam-all-icon">
				<i class="fe fe-mail w-30"></i>
			</div>
			<div class="item-all-text mt-3">
				<p>عدد كل الطلبات </p>
				<h1 class="mb-0 counter font-weight-bold">@Model.AllOrders</h1>
			</div>
		</div>
	</div>
	</div>
</div>




