@model Service

@{
    ViewData["Title"] = " الخدمات";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="row">
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">أنشاء خدمة جديدة </h3>
                <div style="display: none; text-align: center;" class="alert alert-danger" id="errorMessage" role="alert">

                </div>
                <div style="display: none; text-align: center;" class="alert alert-success" id="successMessage" role="alert">

                </div>
            </div>
            <div class="card-body mb-0">
                <form class="form-horizontal" asp-action="Create" enctype="multipart/form-data" runat="server">
                    <div asp-validation-summary="All" style="margin-bottom: 2rem; text-align: center;" class="text-danger"></div>

                  
                    <div class="form-group">
                        <label asp-for="MainSectionId" class="control-label"></label>
                        <select asp-for="MainSectionId" class="form-control" asp-items="ViewBag.MainSectionId">
                            <option value="">اختر القسم الرئيسي</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label asp-for="TitleAr" class="control-label"></label>
                        <input asp-for="TitleAr" class="form-control"/>
                        <span asp-validation-for="TitleAr" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TitleEn" class="control-label"></label>
                        <input asp-for="TitleEn" class="form-control"/>
                        <span asp-validation-for="TitleEn" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea rows="5" asp-for="Description" id="editor1" class="form-control " > </textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                   
                   
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input id="thePrice" onchange="changeFinalPrice()" asp-for="Price" class="form-control"/>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                   
                  
                   
                   
                    

                   


                    <div class="form-group mb-0 row justify-content-end">
                        <div class="col-md-9 float-end">
                            <input type="submit" value="أنشاء" class="btn btn-primary waves-effect waves-light">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="margin-bottom: 4rem; text-align: end;">
    <a asp-action="Index"class="btn btn-secondary">العودة للقائمة</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
                tinymce.init({
                    selector: "textarea",
                     branding: false,
                    promotion: false,
                     statusbar: false
                });
    </script>
    <script>
       function getUserData(){
                let userId = $("#select-state").val();
             console.log(userId);

                     $.ajax({
                        url: "/Services/CheckUserType",
                        data:{"userId":userId},
                        dataType: 'json',
                        contentType: "application/json; charset=utf-8",
                        success: function(result){
                             console.log(result)

                             if (result.error==false)
                             {
                                  $('#errorMessage').hide();
                                  $('#errorMessage').empty();
                                  $('#successMessage').empty();
                                  $('#successMessage').show();
                                  $('#successMessage').append(result.message);
                                  
                                     if (result.type==1)
                                     {
                                         $("#divEmployeesNumber").show();
                                         $("#inHome").show();
                                         $("#inCenter").show();
                                     }
                                     else
                                     {
                                         $("#divEmployeesNumber").hide();
                                         $("#inHome").show();
                                         $("#inCenter").hide();
                                         document.getElementById('inCenterInput').checked = false;
                                         $("#inputEmployeesNumber").val('0');
                                     }
                             }
                                
                              else
                             {
                                 
                                 $('#successMessage').hide();
                                 $('#successMessage').empty();
                                 $('#errorMessage').empty();
                                 $('#errorMessage').show();
                                 $('#errorMessage').append(result.message);
                                   $("#inCenter").hide();
                                   $("#inHome").hide();
                                   $("#divEmployeesNumber").hide();
                                   document.getElementById('inCenterInput').checked = false;
                                   document.getElementById('inHomeInput').checked = false;
                                   $("#inputEmployeesNumber").val('0');
                                   
                             }

                         },
                        failure: function (response) {
                            alert(response.responseText);
                        },
                        error: function (response) {
                            alert(response.responseText);
                        }
                     });


                 } 
                 
                 
    </script>
    <script>

        function changeFinalPrice()
        {
            let price = $("#thePrice").val();
            let discount = $("#theDiscount").val();
                if (price=='' )
                {
                    $("#theFinalPrice").val('');
                }
                 if (discount== 0 || discount=='')
                {
                    $("#theFinalPrice").val(price);
                }
                else
                {
                    let finalPrice = price - (price * discount / 100);
                    $("#theFinalPrice").val(finalPrice);
                }
            let finalPrice = price - (price * discount / 100);
            $("#theFinalPrice").val(finalPrice);
        }

     
    
    
    </script>


}