@model int

@{
    ViewData["Title"] = "التفاصيل";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div class="row">
    <div class="col-xl-8">
        <div class="card m-b-20">
            <div class="card-header">
                <h3 class="card-title">التفاصيل  </h3>
            </div>
            <div class="card-body mb-0" id="serviceDetails">
                <p class="text-center">جارٍ تحميل البيانات...</p>
            </div>
        </div>
    </div>
    <input type="hidden" id="currentAction" value="@ViewContext.RouteData.Values["action"]?.ToString()" />

</div>

<div style="margin-bottom: 4rem;text-align: end;">
    <a id="editBtn" class="btn btn-warning">تعديل</a>
    <a asp-action="Index" class="btn btn-secondary">العودة للقائمة</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var serviceId = @Model;
    </script>
    <script src="~/js/servicesdetails.js"></script>
}