
@{
    ViewData["Title"] = "كل الخدمات  ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var error = (TempData["Error"] != null) ? TempData["Error"] : null;
    var success = (TempData["Success"] != null) ? TempData["Success"] : null;
}
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "orderForm" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">الخدمات </h3>
                    @if (error != null)
                    {
                        <div style="text-align: center;" class="alert alert-danger" role="alert">
                            @error
                        </div>
                    }
                    @if (success != null)
                    {
                        <div style="text-align: center;" class="alert alert-success" role="alert">
                            @success
                        </div>
                    }
                </div>
                <div class="table-responsive" style="padding: 1.5rem; overflow-x: inherit;">
                    <table class="table table-striped table-hover" id="servicesTable">
                        <thead>
                            <tr>
                                <th>اسم الخدمة</th>
                                <th>القسم الرئيسي</th>
                                <th>الكمية</th>
                                <th>نوع المنتج</th>
                                <th>التحكم</th>
                            </tr>
                        </thead>
                    </table>


                </div>
            </div>
        </div>
    </div>

}



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>

        <script src="~/js/servicesindex.js"></script>

    }


}

